<!-- noindex -->
<div class="navbar-text city hidden-xs hidden-sm">
  <!-- begin of Top100 code -->

  <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3118803"></script>
  <noscript>
    <a href="http://top100.rambler.ru/navi/3118803/">
      <img src="http://counter.rambler.ru/top100.cnt?3118803" alt="Rambler's Top100" border="0" />
    </a>
  </noscript>
  <!-- end of Top100 code -->

  <!-- Rating@Mail.ru counter -->
  <script type="text/javascript">
    var _tmr = _tmr || [];
          _tmr.push({id: "2669628", type: "pageView", start: (new Date()).getTime()});
          (function (d, w, id) {
            if (d.getElementById(id)) return;
              var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
            ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
            var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
            if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false);  } else { f();  }

          })(document, window, "topmailru-code");
  </script>
  <noscript>
    <div style="position:absolute;left:-10000px;">
      <img src="//top-fwz1.mail.ru/counter?id=2669628;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
    </div>
  </noscript>
  <!-- //Rating@Mail.ru counter -->

  <!--LiveInternet counter-->
  <script type="text/javascript"><!--
    document.write("<a href='//www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
              ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random()+
            "' alt='' title='LiveInternet: показано число просмотров за 24"+
            " часа, посетителей за 24 часа и за сегодня' "+
            "border='0' width='88' height='31'><\/a>")
  //--></script>
  <!--/LiveInternet-->

  <!-- HotLog -->
  <span id="hotlog_counter"></span>
  <span id="hotlog_dyn"></span>
  <script type="text/javascript"> var hot_s = document.createElement('script');
    hot_s.type = 'text/javascript'; hot_s.async = true;
            hot_s.src = 'http://js.hotlog.ru/dcounter/2497123.js';
            hot_d = document.getElementById('hotlog_dyn');
            hot_d.appendChild(hot_s);
  </script>
  <noscript>
    <a href="http://click.hotlog.ru/?2497123" target="_blank">
      <img src="http://hit34.hotlog.ru/cgi-bin/hotlog/count?s=2497123&im=700" border="0"
      title="HotLog" alt="HotLog"></a>
  </noscript>
  <!-- /HotLog -->

</div>
<!-- /noindex -->
