<!-- noindex -->
<div class="navbar-text city hidden-xs hidden-sm">
  <% if Rails.env.production? %>
    <!-- begin of Top100 code -->

    <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3118803"></script>
    <noscript>
      <a href="http://top100.rambler.ru/navi/3118803/">
        <img src="http://counter.rambler.ru/top100.cnt?3118803" alt="Rambler's Top100" border="0" />
      </a>
    </noscript>
    <!-- end of Top100 code -->

    <!-- Rating@Mail.ru counter -->
    <script type="text/javascript">
      var _tmr = _tmr || [];
_tmr.push({id: "2670056", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
    var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "topmailru-code");
    </script><noscript><div style="position:absolute;left:-10000px;">
    <img src="//top-fwz1.mail.ru/counter?id=2670056;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->
<img src="//top-fwz1.mail.ru/counter?id=2670056;t=502;l=1" style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" />

<!--LiveInternet counter-->
<script type="text/javascript"><!--
  document.write("<a href='//www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
              ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random()+
            "' alt='' title='LiveInternet: показано число просмотров за 24"+
            " часа, посетителей за 24 часа и за сегодня' "+
            "border='0' width='88' height='31'><\/a>")
//--></script>
  <!--/LiveInternet-->

  <!-- HotLog -->
  <span id="hotlog_counter"></span>
  <span id="hotlog_dyn"></span>
  <script type="text/javascript"> var hot_s = document.createElement('script');
    hot_s.type = 'text/javascript'; hot_s.async = true;
            hot_s.src = 'http://js.hotlog.ru/dcounter/2497123.js';
            hot_d = document.getElementById('hotlog_dyn');
            hot_d.appendChild(hot_s);
  </script>
  <noscript>
    <a href="http://click.hotlog.ru/?2497123" target="_blank">
      <img src="http://hit34.hotlog.ru/cgi-bin/hotlog/count?s=2497123&im=700" border="0"
      title="HotLog" alt="HotLog"></a>
  </noscript>
  <!-- /HotLog -->

  <!-- Yandex.Metrika informer -->
  <a href="https://metrika.yandex.ru/stat/?id=31299988&amp;from=informer"
    target="_blank" rel="nofollow"><img src="//mc.yandex.ru/informer/31299988/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
    style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:31299988,lang:'ru'});return false}catch(e){}"/></a>
  <!-- /Yandex.Metrika informer -->

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter31299988 = new Ya.Metrika({id:31299988,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/31299988" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

<% end %>
</div>
<!-- /noindex -->
