<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 right-block">
  <div class="row" >
    <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
      <h3 class='hidden-lg hidden-md hidden-sm center-block phone-for-mobile'>+7 (978) 05 09 333</h3>
    </div>
  </div>
  <!-- images -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Прокат автомобилей в Севастополе. Автопрокат</h1>
      <h2>Контент находится в стадии формирования, звоните +7-978-050-9333</h2>
    </div>
  </div>
</div>
<%= render :partial => 'commons/modal_window' %>
