<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 right-block">
  <div class="row" >
    <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
      <% page_meta.introduction.split(/\r\n/).each do |p| %>
        <p><%= p %></p>
      <% end %>
    </div>
  </div>
</div>
