$main_color: #cad7e7
$title_color: #285994

body
  font-family: "Tahoma", sans, sans-serif

nav
  .container-fluid
    background-color: #597297

    .logo
      height: 60px
      padding: 10px 10px

    .phone
      font-size: 21px
      color: white

.main-container
  margin-top: 60px

  .left-block

    .share
      border-top: 1px solid #cad7e7
      padding: 10px 0 0 5px
      font-size: 20px
      margin-bottom: 5px

    .navigation
      margin-top: 15px

      li
        &.first
          border-top: 1px solid #cad7e7

        a
          color: #42679e
          font-weight: bold
          font-size: 20px
          padding: 10px 5px

          &:hover
            background-color: #f7f7f7

      .info-banner
        background-color: #f7f7f7
        padding: 10px
        margin-bottom: 15px

        .banner-header
          font-size: 18px

  .right-block
    border-right: 1px solid #cad7e7
    border-left: 1px solid #cad7e7

    .header
      color: #285991
      padding-left: 15px
      margin-bottom: 15px
      text-transform: uppercase

    .image-wrapper, .table-wrapper
      .title
        text-align: left
        background-color: #cad7e7
        color: #2a5893
        font-size: 21px
        padding: 5px 15px

    .image-wrapper
      margin: 50px -15px 20px

      .bicycle, .motorbike
        border: 2px solid #cad7e7
        position: relative

        .hit-img-wrapper
          position: absolute
          top: -32px
          right: -17px

    .price-table, .tech-table
      color: #285994

      thead, .info-text
        color: black

    .colored
      color: #ed3f40

    .order
      +clearfix
      margin-top: 15px
      background-color: $main_color
      margin-right: 15px

      &.no-mrg-top
        margin-top: 0

      .row-custom-margin
        margin: 40px 0 10px 5px

      .type-title
        color: $title_color
        font-size: 19px
        text-align: center

      .action
        position: relative

        .action-img-wrapper
          position: absolute
          top: -9px
          left: -98px
          z-index: 10

          .img-text
            position: absolute
            text-align: center
            top: 44px
            left: 21px
            font-size: 33px
            font-weight: bold
            line-height: 31px
            color: #fff

      .old_price, .new_price
        float: left

        div
          font-size: 18px
          margin: 9px 0 0 0
          float: right

      .old_price
        margin: 20px 0 0 18px
        font-size: 35px
        position: relative

        &:after
          +transform(rotate(-19deg))
          border-top: 1px solid red
          content: ""
          left: -12px
          position: absolute
          right: 0
          top: 47%
          width: 87%

      .new_price
        font-size: 50px

      .title
        font-weight: bold
        font-size: 16px

      p.title
        margin: 0 0 0 45px
        text-align: right

        &:first-child
          margin-top: 10px

        &:last-child
          margin-bottom: 10px

      .left, .right
        padding-left: 20px
        padding-right: 30px

    .map-wrapper
      margin-top: 25px

      .map
        margin-bottom: 5px

      .title
        background-color: #537598
        position: absolute
        font-size: 16px
        color: white
        padding: 5px 10px
        text-align: center

    .condition-wrapper
      margin-top: 25px

      .title
        margin-top: 10px
        color: #2b5a92
        text-align: center

      .highlighted
        font-size: 16px
        font-weight: bold

      .condition-list

        ul
          list-style: disc
          color: #2b5994
          font-size: 24px

          li
            span
              font-size: 14px
              color: black

    .contacts-wrapper
      .contacts-content
        background-color: #cdd6e5
        +clearfix
        margin: 0 20px
        padding: 5px 0

        .info
          margin: 10px 0 15px -15px
          padding: 0 15px

          .highlighted
            color: $title_color

          .head
            font-size: 18px
            margin: 0

    .about-wrapper
      margin-bottom: 40px

.affix
  max-width: 250px

.pluso
  padding: 0 0 0 5px !important
